[submodule "fundamentos/secao-3/dia-3-funcoes/sd-036-exercise-functions"]
	path = fundamentos/secao-3/dia-3-funcoes/sd-036-exercise-functions
	url = git@github.com:tryber/sd-036-exercise-functions.git
[submodule "/home/kaique/Documentos/exercicios-trybe/fundamentos/secao-3/dia-5-json-e-dia-de-pratica/exercicio-playground-functions"]
	path = /home/kaique/Documentos/exercicios-trybe/fundamentos/secao-3/dia-5-json-e-dia-de-pratica/exercicio-playground-functions
	url = git@github.com:tryber/sd-036-exercise-playground-functions.git
[submodule "fundamentos/secao-3/dia-6-projeto-supermercado-pirilampo/sd-036-supermercado-pirilampo"]
	path = fundamentos/secao-3/dia-6-projeto-supermercado-pirilampo/sd-036-supermercado-pirilampo
	url = git@github.com:tryber/sd-036-supermercado-pirilampo.git
[submodule "fundamentos/secao-4/dia-1-javascript-dom-e-seletores/exercicios/sd-036-exercise-dom-manipulation"]
	path = fundamentos/secao-4/dia-1-javascript-dom-e-seletores/exercicios/sd-036-exercise-dom-manipulation
	url = git@github.com:tryber/sd-036-exercise-dom-manipulation.git
[submodule "fundamentos/secao-5/dia-1-html-e-css-forms/criando-formulario-para-concorrer-a-viagem/sd-036-exercise-travel-form"]
	path = fundamentos/secao-5/dia-1-html-e-css-forms/criando-formulario-para-concorrer-a-viagem/sd-036-exercise-travel-form
	url = git@github.com:tryber/sd-036-exercise-travel-form.git
[submodule "fundamentos/secao-5/dia3-flexbox-parte-1/trybe-tech-gallery/sd-036-exercise-trybe-tech-gallery"]
	path = fundamentos/secao-5/dia3-flexbox-parte-1/trybe-tech-gallery/sd-036-exercise-trybe-tech-gallery
	url = git@github.com:tryber/sd-036-exercise-trybe-tech-gallery.git
