[submodule "fundamentos/secao-3/dia-3-funcoes/sd-036-exercise-functions"]
	path = fundamentos/secao-3/dia-3-funcoes/sd-036-exercise-functions
	url = git@github.com:tryber/sd-036-exercise-functions.git
