ol li {
    background-color: yellow;
}

ol li.par {
    color: green;

}

ol li.impar {
    text-transform: uppercase;

}

h1, h2, h3 {
    color: red;
}

h1 em, h2 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bolder;
}

li.tresprimeiras {
    color: blue;
}

li.java {
    background-color: pink;
}

ul li a:hover{
    font-weight: bolder;
    
}

ul li a.StackOverflow:hover {
    color: orange;

}

ul li a.W3Schools:hover {
    color: green;

}

ul li a.MDN:hover {
    color: black;
}

ul li a.DevDocs:hover {
    color: yellow;

}

ul li a.Trybe:hover {
    color: green;

}