.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    left: 60px;
    top: 400px;
    position: absolute;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    top: 300px;
    z-index: 1;


    
  
  }
  
  .speach {
    font-size: 25px;
    left: 320px;
    position: absolute;
    top: 340px;
    z-index: 2;

  }
  
  .bowser {
    width: 150px;
    top: 450px;
    left: 600px;
    position: absolute;
  }